.App {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  width: 100%;
  align-items: center;
  padding: 0 2em;
  margin: 2em auto;
  background-color: rgb(218, 218, 218);
}

.search__input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
