.App {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  width: 100%;
  align-items: center;
  margin: 2em auto;
}

.search__input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;

  align-items: center;
}
